body {
    background: #ADBCFF;
    min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.bloque {
	/*background: red;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 35vh;
    grid-gap: 5px;
    padding: 10px 30px 0px 35px;
}

.bloque > div  {
    /*border: 4px solid rgb(255, 255, 255);*/
}

.parte1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    /*background-color: #0248A2;*/
    justify-content: center;
    align-items: center;
    height: 15VH;
}

.parte2 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    /*background-color: #0248A2;*/
    justify-content: center;
    align-items: center;
    height: 15VH;
}

.parte3 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    /*background-color: #0248A2;*/
    justify-content: center;
    align-items: center;
    height: 15VH;
}

.parte4 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    /*background-color: #0248A2;*/
    justify-content: center;
    align-items: center;
    height: 15VH;
}

.parte5 {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    /*background-color: #0248A2;*/
    justify-content: center;
    align-items: center;
    height: 15VH;
}

.bloque2-1 {
	/*background: green;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 20vh;
    grid-gap: 5px;
    padding: 10px 30px 0px 35px;
}

.bloque2-1 > div  {
    /*border: 4px solid rgb(255, 255, 255);*/
}

.parte6mat {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    /*background-color: #0248A2;*/
    justify-content: center;
    align-items: center;
    height: 15VH;
}

.parte7mat {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    /*background-color: #0248A2;*/
    justify-content: center;
    align-items: center;
    height: 15VH;
}

.parte8mat {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    /*background-color: #0248A2;*/
    justify-content: center;
    align-items: center;
    height: 15VH;
}

.bloque2-2 {
	/*background: orange;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 35vh;
    grid-gap: 5px;
    padding: 10px 30px 0px 35px;
}

.bloque2-2 > div  {
    /*border: 4px solid rgb(255, 255, 255);*/
}

.parte6almo {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    /*background-color: #0248A2;*/
    justify-content: center;
    align-items: center;
    height: 15VH;
}

.parte7almo {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    /*background-color: #0248A2;*/
    justify-content: center;
    align-items: center;
    height: 15VH;
}

.parte8almo {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    /*background-color: #0248A2;*/
    justify-content: center;
    align-items: center;
    height: 15VH;
}

.parte9almo {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    /*background-color: #0248A2;*/
    justify-content: center;
    align-items: center;
    height: 15VH;
}

.bloque3 {
	/*background: purple;*/
    display: grid;
    grid-template-columns: 1fr;
    height: 15VH;
    grid-gap: 5px;
    padding: 10px 30px 0px 35px;
}

.bloque3 > div  {
    /*border: 4px solid rgb(255, 255, 255);*/
}

.parteBoton {
	display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    /*background-color: #0248A2;*/
    justify-content: center;
    align-items: center;
    height: 10VH;
}

h1 {
	color: #0248A2;
    text-align: center;
    font-weight: bold;
    margin: 0px;
}

h2 {
	font-family: arial;
	font-size: 20px;
	text-align: center;
	margin: 0px;	
}

p {
	font-family: arial;
	font-size: 20px;
	text-align: justify;
	margin: 0px 10px 10px 10px;	
}

#form {
    text-align: center;
}

input[type=text], input[type=number], input[type=date], input[type=datetime-local], select, textarea {
    padding: 10px;
    font-size: 15px;
    background-color: #FBFBFB;
    width: 28VW;
    border-style:solid;
    border-color: #EAEAEA;
    border-radius: 5px;
    margin-top: 0px; 
}

textarea {
	height: 6VH;
}

#direccion {
	width: 60VW;
}

#tipo_alimento, #caducidad, #descripcion_alimento, #cantidad_alimentos, #metodo_donacion, #cuenta_destino, #cuenta_origen, #cantidad_monetaria {
	width: 45VW;
}

input[type=checkbox] {
	margin-left: 60px; 
	width: 80px;
	height: 40px;
}

input[type=text]:focus, input[type=number]:focus, input[type=date]:focus, input[type=datetime-local]:focus, select:focus, textarea:focus {
    outline:none;
    background-color: #FFF8E3;
    border: 2px solid white;
    border-color: white;
    box-shadow: 0px 0px 14px white; 
}

button[type=submit] {
    appearance: none;
    font-size: 20px;
    color: white;
    background: #4885FF;
    width: 190px;
    padding: 15px;
    border: none;
    border-radius: 30px;
    justify-content: center;
}

button[type=submit]:hover {
    background: #0050fc;
    width: 200px;
    padding: 13px;
}

button[type=submit]:focus {
    background: #0050fc;
    width: 190px;
    padding: 15px;
}

footer {
    margin-top: 50px;
    text-align: center;
    padding: 30px;
    background-color: #0248A2;
    color: white;
    margin-top: auto;
}

.p_footer {
    text-align: center;
}